<app-guitar-tab-string
  [tab]="progression[0]"
  [allowInput]="allowInput"
></app-guitar-tab-string>
<app-guitar-tab-string
  [tab]="progression[1]"
  [allowInput]="allowInput"
></app-guitar-tab-string>
<app-guitar-tab-string
  [tab]="progression[2]"
  [allowInput]="allowInput"
></app-guitar-tab-string>
<app-guitar-tab-string
  [tab]="progression[3]"
  [allowInput]="allowInput"
></app-guitar-tab-string>
<app-guitar-tab-string
  [tab]="progression[4]"
  [allowInput]="allowInput"
></app-guitar-tab-string>
<app-guitar-tab-string
  [tab]="progression[5]"
  [allowInput]="allowInput"
></app-guitar-tab-string>
