<div class="bar" *ngFor="let progression of tab.progressions">
  <app-guitar-tab-section
    [progression]="progression"
    [allowInput]="allowInput"
  ></app-guitar-tab-section>
</div>
<div class="add-section-btn-hldr bar">
  <button mat-button (click)="addSection.emit()" class="add-section-btn">
    + Bar
  </button>
  <br>
  <button mat-button (click)="copyPreviousSection.emit()" class="copy-section-btn">
    Copy previous
  </button>
  <br>
  <button mat-button (click)="deletePreviousBar.emit()" class="delete-section-btn">
    Delete previous
  </button>
</div>
