:host {
  display: grid;
  grid-template-areas:
    "tab"
    "bottom-bar";
  grid-template-rows: 1fr min-content;
}

#title-entry {
  margin-right: 16px;
}

@media print {
  .edit-toggle-btn, #title-entry {
    display: none;
  }
}
