<div id="toolbar">
  <div id="beats-per-bar">
    <p>Beats / bar</p>
    <select #beatsPerBar (input)="changeBeat($event.target.value)">
      <option>4</option>
      <option>8</option>
    </select>
  </div>
  <input
    type="text"
    (input)="titleChanged($event.target.value)"
    placeholder="Title"
    id="title-entry"
  />
  <div id="toolbar-actions">
    <button mat-icon-button (click)="print()" class="edit-toggle-btn">
      <mat-icon>print</mat-icon>
    </button>
    <button mat-icon-button (click)="export()" class="export-btn">
      <mat-icon>download</mat-icon>
    </button>
    <button mat-icon-button (click)="import()" class="import-btn">
      <mat-icon>upload</mat-icon>
    </button>
  </div>
</div>
<br />

<p class="technical-add-on-instructions">
  (/) Slide Up&nbsp;&nbsp;&nbsp;&nbsp;(\) Slide Down&nbsp;&nbsp;&nbsp;&nbsp;(h) Hammer On&nbsp;&nbsp;&nbsp;&nbsp;(p) Pull Off&nbsp;&nbsp;&nbsp;&nbsp;(b) Bend&nbsp;&nbsp;&nbsp;&nbsp;(r) Release&nbsp;&nbsp;&nbsp;&nbsp;(v) Vibrato&nbsp;&nbsp;&nbsp;&nbsp;(x) Mute   
</p>


<app-guitar-tab
  [tab]="tab"
  [allowInput]="allowInput"
  (addSection)="addSection()"
  (copyPreviousSection)="copyPreviousSection()"
  (deletePreviousBar)="deletePreviousBar()"
></app-guitar-tab>