:host {
  display: grid;
  grid-template-areas:
    "tab"
    "bottom-bar";
  grid-template-rows: 1fr min-content;
}

#title-entry {
  background: none;
  outline: none;
  border: none;
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid black;
  color: black;
}

#toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: orange;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

#toolbar-actions {
  justify-self: flex-end;
}

.technical-add-on-instructions {
  text-align: center;
}

#beats-per-bar {
  text-align: center;
  align-self: center;
  justify-self: start;
}

@media print {
  #toolbar, .technical-add-on-instructions {
    display: none;
  }
}
